from {{ package_name }}.__main__ import main


def test_main_prints_ready_message(capsys) -> None:
    main()

    captured = capsys.readouterr()

    assert captured.out == "{{ project_name }} is ready.\n"
